.previewContainer{
    background-color: #FEFAE0;
    height: 100%; 
    overflow-y: auto; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 5px;
}

.articleTitle{
    font-size: 2rem;
    font-weight: 600;
    justify-self: center;
}

.articleSubtitle{
    font-size: 1.25rem;
    color: #484848;
    justify-self: center;
}

.articleDate{
    color: #6b6b6b;
    justify-self: center;
}

.thumbnail{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    justify-self: center;

}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.articleContent{
    width: 100%;
    max-width: 800px;
    text-align: left;
}