/* header */
.header{
    display: flex;
    width: 100%;
    height: 67px;
    background-color: #0F0F0E;
    color: #FEFAE0;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.headerTitle{
    margin-left: 30px;
}

.routerTitles{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.routeButton{
    background-color: transparent;
    color: #FEFAE0;
    border: none;
    font-family: "lora";
    font-size: 25px;
}

.routeButton:hover{
    color: darkgray;
    transition: ease 0.25s;
}

.headerLine{
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    width: 100%;
    height: 1px;
    border: none;
}

/* main section */
.mainSection{
    display: flex;
    height: calc(100vh - 68px);
}

.navColumn{
    display: flex;
    flex-direction: column;
    background-color: #0F0F0E;
    width: 12%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sideButton{
    border: none;
    background-color: transparent;
    color: #FEFAE0;
    font-family: "lora";
    font-size: 20px;
}

.sideButton:hover{
    color: darkgray;
    transition: ease 0.25s;
}

.active{
    color: darkgray;
}

.primary{
    width: 100%;
    height: 100%;
    overflow: auto; /* Add this to allow scrolling if content is too tall */
    /* Remove margin: 20px; and add padding instead */
    padding: 30px;
    box-sizing: border-box; /* This ensures padding is included in the height calculation */
}