/* portfolio.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  position: absolute; 
}

::-webkit-scrollbar-track {
  background: rgba(47, 47, 47, 0.9);
}

::-webkit-scrollbar-thumb {
  background: rgba(151, 151, 151, 0.7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(159, 159, 159, 0.9);
}
