body{
    font-family: 'lora';
    cursor: default;
}

/* Banner Styling */

.banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 67px;
    background-color: #0f0f0e;
    align-items: center;
    justify-content: space-between;
}

.home{
    margin-left: 30px;
    
}

.navigationButton{
    color: #FEFAE0;
    font-family: 'lora';
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.navigationButton:hover{
    color: darkgray;
}

.navigation{
    display: flex;
    margin-right: 30px;
    gap: 10px;
}

/* Main Section Styling - Text Column*/
.mainSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #0F0F0E;
    margin-top: 50px;
    gap: 40px;
}

.textColumn{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
}

.projectTitle{
    font-size: 30px;
    margin-bottom: 15px;;
}

.shortDescription{
    margin-bottom: 30px;
    color: rgb(66, 66, 66);
    font-style: italic;
}

.longDescription{
    margin-bottom: 40px;
}

/* links under image */
.lists{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}

.architecture{
    margin-bottom: 20px;
    font-weight: bold;
}

.resource{
    margin-bottom: 20px;
    font-weight: bold;
}

.techList{
    font-weight: 400;
}

.resourceItem{
    font-weight: 400;
    text-decoration: underline;
}


/* Image Column and Carousel */

.imgColumn{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.carouselContainer{
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 400px;
    border-radius: 20px;
    position: relative;
    align-items: center;
}

.carouselWindow{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.carouselImage{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    animation: fadeIn 0.4s ease;
    aspect-ratio: 16 / 9;
}

@keyframes fadeIn {
    from { opacity: 0.9; }
    to { opacity: 1; }
}

.carouselArrow{
    width: 15px;
    height: 15px;
    margin: 5px;
    padding: 0px;
    border: none;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: fit-content;
    bottom: 0px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    padding: 0 10px;
    z-index: 1;
    border: #0f0f0e solid 1px;
    opacity: 80%;
}

.arrowLeft{
    object-fit: cover;
    width: 15px;
    transform: rotate(180deg);
    margin: 0;
}

.arrowRight{
    object-fit: cover;
    width: 15px;
    margin: 0;
}

.carouselIndicator{
    display: flex;
}

.carouselDot{
    padding: 0px;
    height: 10px;
    width: 10px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #FEFAE0;
    margin: 3px;
}

.active{
    background-color: #363636;
}

/* Construction Page */
.constructionDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    
}

.constructionDiv img{
    height: 150px;
    border-radius: 15px;
}