
/* Project Card Component */
.projectCard{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}

.imageContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projectImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.colorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out;
    transform: translateY(100%); 
}

.projectTitle {
    color: #FEFAE0;
    font-size: 1 rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    opacity: 100%;
}

/* Section Component */
.section{
    background-color: #0f0f0e;
    height: 100vh;
    position: relative;
    font-weight: 400px;
    margin: 0px;
    width: 100%;
    color: #FEFAE0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.title{
    margin: 40px 0px 40px 40px;
    font-weight: 400;
    font-size: 40px;
}

.projectGrid{
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    vertical-align: top;
    margin: 40px;
}

.textColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.label {
    transition: opacity 0.2s ease-in-out;
}