/* Skills Section Page */
.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0f0f0e;
    font-size: 40px;
    cursor: default;
}

.title{
    color: #FEFAE0;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

hr{
    color: #0f0f0e;
    width: 90%;
    margin-top: 5px;
}

/* Skills Table */
.skillTable{
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 70%;
    border-radius: 15px;
    align-self: center;
    align-items: center;
}


/* Skills Selection Buttons */
.skillSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    font-size: 25px;
    
}

.skillButton{
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
}

.selected{
    background-color: rgb(203, 203, 203);;
}

.skillButton:hover{
    background-color: rgb(228, 228, 228);
}


/* Skills Carousel */
.carouselWrapper{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 0px;
    padding-bottom: 10px;
}

.carousel{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    min-height: 0;
    width: 95%;
    gap: 20px;
}

.carouselTitle{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 20px;
    text-align: center;
}

.carouselContainer {
    display: flex;
    align-items: center;
    gap: 1rem; 
    width: 100%;
    min-width: 0;
}

.carouselWindow {
    flex: 1; 
    overflow: hidden;
    position: relative;
    
}

.carouselTrack {
    display: flex;
    transition: transform 0.3s ease;
    gap: 1rem;
}

.carouselArrow {
    flex-shrink: 0; 
    width: 20px; 
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.leftArrow{
    transform: rotate(180deg);
}

.carouselArrow:hover {
    opacity: 0.7;
}

.carouselArrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    min-width: 80px;
    flex-shrink: 0;
}

.skillIcon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.skillName {
    font-size: 0.875rem;
    text-align: center;
}